/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}

/* @media screen and (max-width:767px) {
  .ce-chat-list{
    display: inline !important;
    height: auto !important;
    width: 100% !important;
  }
  .ce-chats-container{
    display: inline !important;
  }
} */

